{
    "server": false,
    "client_addr": "0.0.0.0",
    "advertise_addr": "{{ansible_enp0s8.ipv4.address}}",
    "node_name": "{{node_name_inv}}",
    "datacenter": "home-kazakhstan",
    "data_dir": "/data/consul/data",
    "pid_file": "/data/consul/consul.pid",
    "encrypt": "{{encrypt}}",
    "log_level": "INFO",
    "enable_syslog": true,
    "leave_on_terminate": true,
    "start_join": [ {% for item in groups['consul_servers'] %} 
        "{{ item }}"{% if not loop.last %},{% endif %}
    {% endfor %}],
    "telemetry": { "disable_compat_1.9": false},
    "enable_local_script_checks": true
}
